<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/styles-backup.css">
</head>

<body>
    <div class="container">
        <%- include('./component/sidebar.ejs') %>
            <main class="content">
                <%- include('./component/header.ejs') %>

                    <h1>About these activities</h1>
                    <section class="about">
                        <section class="about-container">
                            <p>These activities aim to recycle waste that still has economic value or can be processed
                                into
                                products that can be sold or reused.
                                <br><br>
                                Thereby reducing environmental pollution, conserving natural resources, and fostering a
                                circular economy.
                            </p>
                            <div class="illustration">
                                <img src="../img/asset-1.png" alt="Recycling">
                            </div>
                        </section>
                    </section>
                    <section class="benefits">
                        <section class="benefits-container">
                            <div class="illustration">
                                <img src="../img/asset-2.png" alt="Recycling Benefits">
                            </div>
                            <p>By recycling waste, we can reduce the negative impact of waste on the environment and
                                increase
                                the economic value of waste that was previously considered worthless.
                                <br><br>
                                it fosters a culture of sustainability and responsibility, encouraging individuals and
                                businesses to adopt eco-friendly practices and contribute to a healthier planet.
                            </p>
                        </section>
                    </section>

                    <h1>Why we made this?</h1>
                    <section class="about">
                        <section class="about-container">
                            <p>
                                By implementing a waste bank management system, we can optimize the use of resources,
                                including
                                manpower, materials, and financial resources, for more efficient waste management
                                processes.
                                <br><br>
                                This system allows for the systematic collection, sorting, and recycling of waste
                                materials,
                                ensuring that recyclable items are properly processed and returned to the production
                                cycle.
                            </p>
                            <div class="illustration">
                                <img src="../img/asset-3.png" alt="Recycling">
                            </div>
                        </section>
                    </section>
                    <section class="benefits">
                        <section class="benefits-container">
                            <div class="illustration">
                                <img src="../img/asset-4.png" alt="Recycling Benefits">
                            </div>
                            <p>
                                Systems should be able to accurately track and report data related to waste bank
                                activities,
                                such as the number of deposits, types of waste, total amount, etc.
                                <br><br>
                                Additionally, it facilitates better tracking and monitoring of waste generation and
                                disposal,
                                helping to identify areas where waste can be reduced or resources can be better
                                utilized.
                            </p>
                        </section>
                    </section>
                    <section class="about">
                        <section class="about-container">
                            <p>
                                With a management system in place, we can collect and analyze data on waste generation,
                                recycling rates, and participation levels to make informed decisions and improvements in
                                our
                                waste management strategies.
                                <br><br>
                                Ultimately, this data-driven approach helps us optimize resource use and enhance overall
                                environmental sustainability.
                            </p>
                            <div class="illustration">
                                <img src="../img/asset-5.png" alt="Recycling">
                            </div>
                        </section>
                    </section>

                    <h1>Overview</h1>
                    <section class="counter-container">
                        <div class="counter-box">
                            <div class="counter-item">
                                <img src="./img/asset-7.png">
                                <span class="number">
                                    <%= countCustomer %>
                                </span>
                                <span class="notes">Total <br> Customers</span>
                            </div>
                            <p>
                                Many customers are already connected to this management system.
                            </p>
                        </div>

                        <div class="counter-box">
                            <div class="counter-item">
                                <img src="./img/asset-6.png">

                                <span class="number-deposit">
                                    <%= totalDeposit %>
                                </span>
                                <span class="notes"> Amount <br> Deposit</span>

                            </div>
                            <p>
                                The total deposits from all active customers.
                            </p>
                        </div>

                        <div class="counter-box">
                            <div class="counter-item">
                                <img src="./img/asset-8.png">

                                <span class="number">
                                    <%= countWasteType %>
                                </span>
                                <span class="notes">Total <br> Waste Types</span>

                            </div>
                            <p>
                                The types of waste that can be recycled are currently based from Collectors.
                            </p>
                        </div>
                    </section>

                    <h1>Data Current Year (<%= currentYear %>)</h1>
                    <section class="chart">
                        <div class="chart-container">
                            <div>
                                <canvas id="lineChartDeposit"></canvas>
                            </div>
                            <div>
                                <canvas id="lineChartCustomer"></canvas>
                            </div>
                        </div>
                        <p>
                            We can observe the participation trend of customers each month, 
                            which is typically used to review customer engagement and the effectiveness of the Waste Bank program.
                        </p>
                    </section>
            </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../views/js/sidebar.js"></script>
    <%- include('./component/home-script.ejs') %>
</body>

</html>