<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/styles-backup.css">
</head>

<body>
    <div class="container">
        <%- include('./component/sidebar.ejs') %>
            <main class="content">
                <%- include('./component/header.ejs') %>
                <div onclick="toggleSidebarClose()">
                    <h1 id="scroll-home">About these activities</h1>
                    <section class="about">
                        <section class="about-container">
                            <p>These activities aim to recycle waste that still has economic value or can be processed
                                into
                                products that can be sold or reused.
                                <br><br>
                                Thereby reducing environmental pollution, conserving natural resources, and fostering a
                                circular economy.
                            </p>
                            <div class="illustration">
                                <img src="../img/asset-1.png" alt="Recycling">
                            </div>
                        </section>
                    </section>
                    <section class="benefits">
                        <section class="benefits-container">
                            <div class="illustration">
                                <img src="../img/asset-2.png" alt="Recycling Benefits">
                            </div>
                            <p>By recycling waste, we can reduce the negative impact of waste on the environment and
                                increase
                                the economic value of waste that was previously considered worthless.
                                <br><br>
                                it fosters a culture of sustainability and responsibility, encouraging individuals and
                                businesses to adopt eco-friendly practices and contribute to a healthier planet.
                            </p>
                        </section>
                    </section>

                    <h1>Why we made this?</h1>
                    <section class="about">
                        <section class="about-container">
                            <p>
                                By implementing a waste bank management system, we can optimize the use of resources,
                                including
                                manpower, materials, and financial resources, for more efficient waste management
                                processes.
                                <br><br>
                                This system allows for the systematic collection, sorting, and recycling of waste
                                materials,
                                ensuring that recyclable items are properly processed and returned to the production
                                cycle.
                            </p>
                            <div class="illustration">
                                <img src="../img/asset-3.png" alt="Recycling">
                            </div>
                        </section>
                    </section>
                    <section class="benefits">
                        <section class="benefits-container">
                            <div class="illustration">
                                <img src="../img/asset-4.png" alt="Recycling Benefits">
                            </div>
                            <p>
                                Systems should be able to accurately track and report data related to waste bank
                                activities,
                                such as the number of deposits, types of waste, total amount, etc.
                                <br><br>
                                Additionally, it facilitates better tracking and monitoring of waste generation and
                                disposal,
                                helping to identify areas where waste can be reduced or resources can be better
                                utilized.
                            </p>
                        </section>
                    </section>
                    <section class="about">
                        <section class="about-container">
                            <p>
                                With a management system in place, we can collect and analyze data on waste generation,
                                recycling rates, and participation levels to make informed decisions and improvements in
                                our
                                waste management strategies.
                                <br><br>
                                Ultimately, this data-driven approach helps us optimize resource use and enhance overall
                                environmental sustainability.
                            </p>
                            <div class="illustration">
                                <img src="../img/asset-5.png" alt="Recycling">
                            </div>
                        </section>
                    </section>

                    <h1 id="scroll-data-summary">Data Summary (<%= data.currentYear %>)</h1>
                    <section class="counter-container">
                        <div class="counter-box">
                            <div class="counter-item">
                                <img src="./img/asset-7.png">
                                <span class="number">
                                    <%= data.countCustomer %>
                                </span>
                                <span class="notes">Total <br> Customers</span>
                            </div>
                            <p>
                                Many customers are already connected to this management system.
                            </p>
                        </div>

                        <div class="counter-box">
                            <div class="counter-item">
                                <img src="./img/asset-6.png">

                                <span class="number-deposit">
                                    <%= data.totalDeposit %>
                                </span>
                                <span class="notes"> Amount <br> Deposit</span>

                            </div>
                            <p>
                                The total deposits from all active customers.
                            </p>
                        </div>

                        <div class="counter-box">
                            <div class="counter-item">
                                <img src="./img/asset-8.png">

                                <span class="number">
                                    <%= data.countWasteType %>
                                </span>
                                <span class="notes">Total <br> Waste Types</span>

                            </div>
                            <p>
                                The types of waste that can be recycled are currently based from Collectors.
                            </p>
                        </div>
                    </section>

                    <h1 id="scroll-customer">Customer</h1>
                    <section class="chart">
                        <div class="chart-container">
                            <div class="chart-customer">
                                <canvas id="lineChartCustomer"></canvas>
                            </div>
                        </div>
                        <p>
                            We can analyze the participation trend of customers each month,  
                            this is for reviewing customer engagement and evaluating the effectiveness of the Waste Bank program.
                        </p>
                    </section>

                    <h1 id="scroll-deposit">Total Deposit</h1>
                    <section class="chart">
                        <div class="chart-container">
                            <div class="chart-deposit">
                                <canvas id="lineChartDeposit"></canvas>
                            </div>
                        </div>
                        <p>
                            Analyzing the growth of each customer's deposit amount during 
                            deposit activities allows us to review the data until the withdrawal time at the end of the year.
                        </p>
                    </section>

                    <h1 id="scroll-waste-type">Waste Type</h1>
                    <section class="waste-type">
                        <section class="waste-type-container">
                            <table class="waste-type-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price per-Kg</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.dataHome.rawDataWasteType.forEach(function(wt) { %>
                                        <tr>
                                            <td>
                                                <%= wt.name %>
                                            </td>
                                            <td>
                                                <%= new Intl.NumberFormat('id-ID', { style: 'currency' , currency: 'IDR'}).format(wt.price) %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </section>
                        <div>
                            <canvas id="lineChartWasteType"></canvas>
                        </div>
                        <p>
                            It can be used to analyze the most common types of waste generated based on each customer's place of residence, while still receiving benefits for making deposits.
                        </p>
                    </section>

                    <h1 id="scroll-faq">Frequently Asked Questions</h1>
                    <section class="faq-container">
                        <div class="faq-item">
                            <div class="faq-question">What the features available in this project?</div>
                            <div class="faq-answer">
                                <ul>
                                    <li> 
                                        <span>Item Management:</span> 
                                        Managing various items such as Customers, Waste Types, Deposit Balances, and Withdrawal Balances.
                                    </li>
                                    <li>
                                        <span>Waste Tracking:</span> 
                                        Tracking the types of waste frequently deposited and transparently displaying prices or rewards.
                                    </li>
                                    <li>
                                        <span>Data Analysis:</span> 
                                        Conducting accurate data analysis to identify patterns or trends related to activities and monitor performance and effectiveness.
                                    </li>
                                    <li>
                                        <span>Data Security:</span> 
                                        Implementing customer data encryption to prevent leakage and user access control.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-question">Will the deposit balance go into the customer's account?</div>
                            <div class="faq-answer">
                                Absolutely, the deposit balance can be withdrawn and credited to each customer's respective account. 
                                Deposit balances are accumulated over 12 months, and at the end of the last month, 
                                the management will initiate withdrawal activities to all active customers. 
                                <br><br>
                                Deposit and withdrawal data are transparent, so all customers can view them.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-question">How is customer data security maintained in this Management System?</div>
                            <div class="faq-answer">
                                Our system is equipped with security features such as data encryption, 
                                user access control, and audit trails to protect customers' personal information from unauthorized access.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-question">Are feature developments continuously made and open to ideas?</div>
                            <div class="faq-answer">
                                Features will evolve based on requests from stakeholders such as management or customers. 
                                <br><br>
                                We are very open to receiving ideas and innovations for the sustainability of this waste bank activity.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-question">Regarding interest in this waste bank project?</div>
                            <div class="faq-answer">
                                If you're interested in this project and would like to discuss further, you can contact us for more information.
                            </div>
                        </div>
                    </section>

                    <h1 id="scroll-contact-us">Contact Us</h1>
                    <section class="contact-us">
                        <section class="contact-us-container">
                            <div class="contact-us-item">
                                <img src="./img/asset-9.png"> 
                                <a href="email:bagassandi13@gmail.com">bagassandi13@gmail.com</a>
                            </div>
                            <div class="contact-us-item">
                                <img src="./img/asset-10.png">
                                <a target="_blank" href="https://www.instagram.com/bagassandih">Instagram Page</a>
                            </div>
                            <div class="contact-us-item">
                                <img src="./img/asset-11.png">
                                <a target="_blank" href="https://www.linkedin.com/in/bagassandih/">Linkedin Page</a>
                            </div>
                        </section>
                        <div>
                            <img src="./img//asset-12.png">
                            <p>
                                Feel free to reach us if you have any questions, ideas, discuss or anything else.
                            </p>
                        </div>
                    </section>
                </div>
            </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./js/sidebar.js"></script>
    <script src="./js/faq.js"></script>
    <%- include('./component/home-chart.ejs') %>
</body>

</html>